<!-- Navigation start -->

<header class="header">

	<nav class="navbar navbar-custom">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index.html">Simply Nickie</a>
			</div>

			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
							<li><a href="www.simplynickie.com">home</a></li>
							<li><a href="www.simplynickie.com#portfolio">Designs</a></li>
							<li><a href="www.simplynickie.com#blog">Articles</a></li>
							<li><a href="www.simplynickie.com#services">Service</a></li>
							<li><a href="www.simplynickie.com#about">About</a></li>
							<li><a href="www.simplynickie.com#contact">Contact</a></li>
				</ul>
			</div>

		</div><!-- .container -->

	</nav>

</header>

<!-- Navigation end -->
